{% extends 'main/base.html' %}
{% load static %}

{% block title %}My appointments{% endblock %}

{% block body %}

<div class="title container">
    <h1>All doctor's appointments</h1>
</div>

<div class="doctorrecordsprofile container">
    {% if appointments %}
    <div class="sidebar">
        <form class="forms" method="post">
            {% csrf_token %}
            {{ filter_form.as_p }}
            <button type="submit" class="button">
                <span>Find</span>
                <svg class="arr-1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                </svg>
            </button>
        </form>
    </div>

    {% for appointment in appointments %}
    <div class="doctorrecordsprofile__settings">
        <ul>
            <li>
                <div class="cart_item-content">
                    <form action="{% url 'Cancel' appointment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="remove-btn">
                            Cancel
                        </button>
                    </form>
                </div>
                <div class="doctorlistimg">
                    <img src="{{ appointment.doctor.photo.url }}" alt="doctor image" class="doctor__photo">
                </div>
                <div class="text__right">
                    <div class="name__doctor">
                        <style>
                            .name__doctor {
                                font-family: "Inter";
                                font-weight: 500;
                                color: black;
                                margin-left: 100px;
                                transform: translateY(-60px);
                            }
                        </style>
                        <strong>{{ appointment.doctor }}</strong>
                    </div>
                    <div class="doctor__specialization">
                        <style>
                            .doctor__specialization {
                                font-family: "Inter";
                                font-weight: 400;
                                color: black;
                                margin-top: 5px;
                                margin-left: 100px;
                                transform: translateY(-60px);
                            }
                        </style>
                        ({{ appointment.doctor.specialization }})
                    </div>
                    <div class="title__doctor">
                        Your appointment
                    </div>
                    <div class="doctor__data">
                        <style>
                            .doctor__data {
                                position: relative;
                                top: 10px;
                                margin-top: 5px;
                                font-family: "Inter";
                                font-weight: 400;
                                font-size: 14px;
                                opacity: 0.5;
                                transform: translateY(-9px);
                            }
                        </style>
                        Date: {{ appointment.appointment_day }}
                    </div>
                    <div class="doctor__data">
                        Time: {{ appointment.appointment_time }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {% endfor %}

    {% else %}
    <div class="warning__information">
        <div class="inner">
            <div class="pwarninginformation">
                <p class="p-doc">You don`t have an appointments</p>
            </div>
            <div class="awarninginformation">
                <a class="a-doc" href="{% url 'DoctorList' %}">
                    <button>
                        Make an appointment
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
